{% extends 'base.html' %}
{% block title %}Detail of a Post{% endblock title %}

{% block content %}
<div class="card">
  <div class="card-header">
    <span class="font-weight-bold"><h3>{{ object.title }}</h3></span> &middot;
    <span class="text-muted">{{ object.author }} | {{ object.date_publication|date:"d F Y" }}</span>
  </div>
  <div class="card-body">
    {{ object.body }}
  </div>
  <div class="card-footer text-center text-muted">
  </div>
</div>
<hr>
<p>
  <a href="{% url 'blog_list' %}" class="btn btn-info">Go back</a>
</p>
{% endblock content %}
