{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
 
{% block content %}
<br/>
<div class="jumbotron">
  <h1 class="display-4">Flavien Chamay's Personal Website</h1>
  <p class="lead">Welcome to my personal website! I use this website to expose my projects, my resume, my projects and more. Please feel free to contact me if you have any questions or suggestions for improvement.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'blog_list' %}" role="button">View my Blog</a>
  </p>
</div>
{% endblock content %}
